<div class="card-columns m-5 animated fadeIn">
    <div *ngFor="let item of items" class="card puntero" (click)="findSinger(item)">
        <img class="card-img-top" [src]="item.images| imageNotFound" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text" *ngIf="item.artists">
                <span *ngFor="let singer of item.artists" class="badge badge-pill badge-primary">{{singer.name}}</span>
            </p>
        </div>
    </div>
</div>